// All sections on cv page should fill the page at least
// for a nice spaced out effect
.cv > section, .cv > header
{
    // Fill the page at least
    min-height: 45vh;
}


.cv
{
    color: $color6;

    // Add background image
    > .background-briefcase
    {
    background-image: url("/Assets/Icons/briefcase-outline.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    }

    // Set linkedIn Icon for the website
    .linkedin-icon
    {
        // Set color to white
        color: white;

        // Make icon show little bit bigger
        font-size: $font-largest;

        // Hover effect
        @include hocus()
        {
            // Bright secondary color
            color: $color2;
        }
    }

    // Add background image
    > .background-construct
    {
    background-image: url("/Assets/Icons/construct-outline.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    }

    // Add background image
    > .background-code
    {
    background-image: url("/Assets/Icons/code-outline.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    }

    ul > li
    {
        display: block;
    }

}