
// Main dark color (background)
$color1: #000500 !default;
// Main color for buttons
$color2: #d6b179 !default;
$color3: #d6b179 !default;
$color4: rgba(101, 14, 114, 1) !default;
$color5: rgba(11, 126, 243, 1) !default;
// Colors mainly for texts
$color6: rgba(255, 255, 255, 1) !default;
$color7: rgba(0, 0, 0, 1) !default;