
<!-- Navigation Menu Bar for the website -->
<nav class="Top-Navigation-Bar slide-in-down" data-scrolldown-class="reduced">

    <!-- Contents -->
    <div>
        <!-- Signature -->
        <a href="/">
            <img src="/Assets/Images/Signature_White.png"/>
        </a>

        <!-- Hamburger menu -->
        <div class="hamburger hamburger--collapse" hamburger-menu-active="">
            <a href="#topmenu">
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
            </a>
        </div>

        <!-- Navigation links on top menu -->
        <ul data-topmenu-class="" data-scroll-into-view="slide-in-up-group">
            <li><a href="/Aboutme">About Me</a></li>
            <li><a href="/CV">CV</a></li>
            <li><a href="/contact">Contact</a></li>
            <p>Copyright © 2020 Samu Lahti</p>
        </ul>
    </div>
</nav>

<main class="cv">
        <!-- Coming -->
        <section class="start container single-vcenter">
            <div class="grid-wrapper">
                <div class="grid">
                    <div class="col">
                        <header>
                            <p> I will update this part of my website later. </p>

                            <p> In the meanwhile, you can check my profile in LinkedIn: </p>
                            <a href="https://fi.linkedin.com/in/samulahti" class="ion-social-linkedin linkedin-icon"></a>
                        </header>
                    </div>
                </div>
            </div>
        </section>

</main>


